.modal-delete {
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,0);
  color: #000;

  .modal-delete-content {
    margin: auto;
    padding: 20px;
    width: 30%;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  }
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;

  .form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all .3s;
    opacity: 0.5;

  }

  span.error-message{
    color: #DD2C00;
  }

  .form-control{
    border: none;
    border-radius: 0px;
    background: none;
    outline: none;
    box-shadow:none;
    border-bottom: 1px solid black;
    transition: all ease .5s;

    &:focus{
      box-shadow: none;
      border-color:black;
    }

    &:focus + .form-control-placeholder,
    &:valid + .form-control-placeholder {
      font-size: 75%;
      transform: translateY(-100%);
      opacity: 1;
    }
  }
}

.has-error .form-control,
.has-error .form-control:focus{
  border: none;
  box-shadow: none;
  border-bottom:1px solid #DD2C00;
}
