.modal-delete {
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,0);
  color: #000;

  .modal-delete-content {
    margin: auto;
    padding: 20px;
    width: 30%;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  }
}
