body{
  padding-top:70px;

  div.row-spacing{
    margin-top: 20px;
  }

  nav{
    ul.nav.navbar-nav{
      padding: 8px 0px;
      li{
        margin: 5px;
        span{
          cursor: pointer;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }

  .icons{
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: 0 5px;
  }

  .loader {
    border: 5px solid #ccc;
    border-top: 5px solid #000;
    border-radius: 50%;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid black;
  background-color: #f8f8f8;
  text-align: center;
}
